page-about {
    
    
.texto{
    padding-right: 10%;
    padding-left: 10%;
    font-size: 1.5rem;
    text-align: center;
}

.titulos{
    font-size: 2.3rem;
    text-align: center;
}
.foto{
    width: 100px;
    height: 100px;
}
img{
    height: 70vh;
    width: auto;
    margin: auto;
    display: block;
  }

}
