<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
 <h1>Platform: </h1>
 <p *ngIf="platformAndroid">Android</p>
 <p *ngIf="platformIos">iOS</p>
 <p *ngIf="platformDesktop">Desktop</p>
 <button ion-button  icon-start color="primary" *ngIf="platformAndroid" large round block (click)="openLink('https://docs.google.com/document/d/1LBRrqDXtEJqiebHi5T_5UQ5K8kQNjE-PKGsmPaiLRUI/edit?usp=sharing')">
   <ion-icon name="logo-android"></ion-icon>
   Android
 </button>
 <button ion-button  icon-start color="primary" *ngIf="platformIos" large round block (click)="openLink('https://docs.google.com/document/d/1LBRrqDXtEJqiebHi5T_5UQ5K8kQNjE-PKGsmPaiLRUI/edit?usp=sharing')">
   <ion-icon name="logo-apple"></ion-icon>
   iOS
 </button>
 <script>
  if ('serviceWorker' in navigator) {
    navigator.serviceWorker.register('service-worker.js')
      .then(() => console.log('service worker installed'))
      .catch(err => console.error('Error', err));
  }
</script>

 <button ion-button  icon-start color="primary" [disabled]="platformDesktop" large round block (click)="openLink('https://docs.google.com/document/d/1LBRrqDXtEJqiebHi5T_5UQ5K8kQNjE-PKGsmPaiLRUI/edit?usp=sharing')">
   <ion-icon name="browsers"></ion-icon>
   PWA
 </button>
</ion-content>